body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    background-color: silver;
}
.container{
    background-color: white;
    padding-left:100px;
    padding-right:100px;
    border-radius: 10px;
}
.row{
    display: flex;
}
.divImg{
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    left: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-top: 20px;
    font-weight: 500px;
}
a{
    text-decoration: none;
    color: black;
    text-align: justify;
    margin-left: 5px;
    font-size: 14px;
}
a:hover{
    cursor: pointer;
    color: blue;
}
h3{
    font-style: italic;
    font-size: 20px;
}
.minha-lista{
    list-style-type: disc;
}
.Epia{
    font-style: oblique;
}
@media (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right:20px;
        margin-top: 0px;
    }
}
